/* Toggle Styles */

#wrapper {
    margin-left: 2.7%;
    margin-right: 2.7%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-toggle{
    padding: 0;
    border: none;
    position: fixed;
    top: 10px;
    left: 260px;
}
#menu-toggle.open {
    left: 10px;
}
#menu-toggle .logo {
    width: 40px;
    height: 50px;
    background-image: url(../img/mini_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f5f5f5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /*position: absolute;*/
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    /*position: absolute;*/
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 100%;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.col-xxs-12{
    margin-bottom: 10px;
}

/* crop image center*/
.picture-container{
    border-radius: 6px 6px 0px 0px;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.picture-container img {
    /*position: absolute;
    left: 50%;
    top: 50%;*/

    height: 100%;
    width: auto;
    max-width: inherit !important;
    /*-webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);*/
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

@media(max-width:767px) {



    #menu-toggle {
        padding: 0;
        position: relative;
        top: 0;
        left: 50%;
        width: 32px;
        height: 32px;
        margin-bottom: 20px;
    }

    #menu-toggle.open {
        left: 50%;
    }


    #menu-toggle .logo {
        width: 32px;
        height: 32px;
        background-image: url(../img/image-thumbs.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        overflow: hidden;
        display: none;
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        background: #f5f5f5;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
        display: block;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
    }

    .sidebar-nav {
        position: relative;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }


}

@media(max-width:480px) {

    .col-xxs-12 {

        float: none !important;
        width:  100% !important;
        margin-bottom: 10px;
    }

}
